.header {
  height: 95vh; /* vh = viewport height; 95%*/
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url('../img/hero.jpg');
  background-size: cover; /* whatever the width of the viewport. It will always cover the element in the box */
  background-position: top; /* stay background image on top */
  position: relative; /* is the origin  position when using absolute on the child */
  clip-path: polygon(
    0 0,
    100% 0,
    100% 75vh,
    0 100%
  ); /* https://bennettfeely.com/clippy/ */

  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }

  &__logo {
    height: 3.5rem; /* browser will adjust on the width */
  }

  &__text-box {
    position: absolute;
    top: 40%;
    left: 50%; /* in relation to the parent */
    transform: translate(-50%, -50%); /* in relation to the element */
    text-align: center;
  }
}
