/* css resets */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; /* force inheritance */
}

html {
  /* root  This define what 1 rem is */
  font-size: 62.5%; /* 10px equivalent of the deafult 16px*/
}

body {
  box-sizing: border-box;
}
